


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&display=swap');
body{font-family: "Josefin Sans";}

body{
  background-color: #0f766e;
  color:white
} 

h1{
text-align: center;
}

.introPara{
text-align: center;
margin: 4rem;
}

.entries{
  text-align: center;
  margin:3rem;
}

.button{
  text-align: center;
}

#error-message{
  text-align: center;
  margin:2rem;
  font-size: xx-large;
}

.table{
  margin-top:3rem;
}

table{
  border:1px solid;
  width:70vw;
  text-align: center;
  margin: auto;
}

th,td{
  border: 1px solid;
  width: 15vw;
  height:4rem;
  text-align: center;
}